/* color scheme:
Grain: #D7CEC7
Blackboard: #565656
Oxblood: #76323F
Tan: #C09F80
 */


.app-styling {
  font-family: 'Poiret One', cursive;
  background-color: #D7CEC7;
}


/* PhotoHeader */
.photo-container {
  position: relative;
}

.photo-header {
  width: 100%;
}

.header-positioning {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10%;
  margin-bottom: 10%;
  color: #D7CEC7;
  line-height: 200%;
  font-weight: 600;
  text-align: center;
}

.photo-name {
  font-size: 300%;
}

.photo-subtext {
  font-size: 175%;
  line-height: 10%;
}


/* AboutMe */
.about-title {
  text-align: center;
  color: #76323F;
}

.about-description {
  margin-left: 5%;
  margin-right: 5%;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.about-icon-container {
  display: flex;
  justify-content: space-around;
  margin: 5%;
  margin-top: 0%;
  text-align: center;
  color: #565656;
}


/* Portfolio */

.portfolio-container {
  padding-top: 2%;
  background-color: #565656;
  color: #D7CEC7;
  padding: 3%
}

.portfolio-header {
  text-align: center;
}

.portfolio-description {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0%;
  text-align: center;
}

.portfolio-item-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bark-co-image {
  height: 50vw;
  object-fit: contain;
}

.portfolio-project-title {
  text-align: center;
  margin: 0%;
}

.portfolio-project-description {
  text-align: center;
}

.portfolio-buttons {
  display: flex;
  justify-content: space-around;

}
