.app-styling {
  font-family: 'Poiret One', cursive;
  background-color: #D7CEC7;
}


/* PhotoHeader */
.photo-container {
  position: relative;
}

.photo-header {
  width: 100%;
}

.header-positioning {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10%;
  margin-bottom: 10%;
  color: #D7CEC7;
  line-height: 200%;
  font-weight: 600;
  text-align: center;
}

.photo-name {
  font-size: 300%;
}

.photo-subtext {
  font-size: 175%;
  line-height: 10%;
}


/* AboutMe */
.about-title {
  text-align: center;
  /* margin-left: 4%; */
  color: #76323F;
}

.about-container {
  display: flex;
  justify-content: space-around;
  margin: 5%;
  margin-top: 0%;
  text-align: center;
}

.about-description {
  margin-left: 5%;
  margin-right: 5%;
}
